name: GitHub Pages
on:
  push:
    branches: [ master ]
#  pull_request:
#    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2.1.3
        with:
          python-version: '3.8'
      - name: Run a multi-line script
        run: |
          git config --global user.name "GitHub Pages - Auto Deploy"
          git config --global user.email "noreply@ust-quantil.github.io"
          python3 -m venv venv
          source venv/bin/activate
          pip3 install -r requirements.txt
          mkdocs gh-deploy --force
